body {
    background: snow;
}

#editor {
    position: relative;
    border: 1px solid lightgray;
    margin: auto;
    height: 0;
    padding-bottom: 40%;
}

.ace-editor {
    position: relative;
    border: 1px solid lightgray;
    margin: auto;
    height: 0;
    padding-bottom: 40%;
}

.problem-submit {
    margin-top: -10px;
    margin-bottom: 20px;
}

.problem-submit label {
    margin-left: 10px;
    color: #2b669a;
}

.problem-limit {
    color: #419641;
}

.profile-thumbnail {
    position: absolute;
}

.profile-header {
    min-height: 260px;
    margin-left: 280px;
}

div.pagination {
    width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
}

.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}
