{% extends "base.html" %}
{% block title %}VJudge - Source code{% endblock %}
{% block page_content %}
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="page-header">
            <h1>{{ username }}'s solution for problem
                [<a href="{{ url_for('contest.problem', contest_id=contest.id, problem_id=submission.problem_id) }}">{{ submission.problem_id }}</a>]
            </h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div id="editor">{{ submission.source_code }}</div>
        </div>
    </div>

{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('main.index') }}">Home</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('contest.problem_list', contest_id=contest.id) }}">Problem</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('contest.status', contest_id=contest.id) }}">Status</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('contest.rank_list', contest_id=contest.id) }}">Ranklist</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('contest.index') }}">Contest</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ url_for('static', filename='avatar/small.png') }}">
                                {{ current_user.username }}<b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
                                </li>
                                <li><a href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.bootcss.com/ace/1.2.9/ace.js"></script>
    <script src="https://cdn.bootcss.com/ace/1.2.9/ext-language_tools.js"></script>
    <script src="https://cdn.bootcss.com/ace/1.2.9/theme-chrome.js"></script>
    <script>
        var editor = ace.edit("editor");
        editor.session.setMode("ace/mode/{{ language }}");
        editor.setTheme("ace/theme/chrome");
        editor.setReadOnly(true);
        editor.setAutoScrollEditorIntoView(true);

        document.getElementById('editor').style.fontSize = '14px';
        $(document).ready(function () {
            var heightUpdateFunction = function () {
                var newHeight =
                    editor.getSession().getScreenLength()
                    * editor.renderer.lineHeight
                    + editor.renderer.scrollBar.getWidth();
                $('#editor').height(newHeight.toString() + "px");
                editor.resize();
            };
            heightUpdateFunction();
            editor.getSession().on('change', heightUpdateFunction);
        });
    </script>
{% endblock %}