{% extends "base.html" %}
{% block title %}VJudge - {{ problem.oj_name.upper() }}-{{ problem.problem_id }}{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>{{ problem.title }}</h1>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Description</div>
    <div class="panel-body">
        {% autoescape false %}
        {{ problem.description }}
        {% endautoescape %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Input</div>
    <div class="panel-body">
        {% autoescape false %}
        {{ problem.input }}
        {% endautoescape %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Output</div>
    <div class="panel-body">
        {% autoescape false %}
        {{ problem.output }}
        {% endautoescape %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Sample input</div>
    <div class="panel-body">
        {% autoescape false %}
        {{ problem.sample_input }}
        {% endautoescape %}
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Sample output</div>
    <div class="panel-body">
        {% autoescape false %}
        {{ problem.sample_output }}
        {% endautoescape %}
    </div>
</div>

{% endblock %}