{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}VJudge - Problem list{% endblock %}
{% block page_content %}
<div class="page-header">
    <h1>Problem list</h1>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>OJ</th>
        <th>Problem</th>
        <th>Name</th>
        <th>Solved</th>
        <th>Last update</th>
        {% if current_user.can(Permission.MODERATE) %}
        <th>Update</th>
        {% endif %}
    </tr>
    </thead>
    {% for problem in problems %}
    <tr>
        <td>{{ problem.oj_name }}</td>
        <td>
            <a href="{{ url_for('.problem',oj_name=problem.oj_name,problem_id=problem.problem_id) }}">
                {{ problem.problem_id }}</a>
        </td>
        <td>
            <a href="{{ url_for('.problem',oj_name=problem.oj_name,problem_id=problem.problem_id) }}">
                {{ problem.title }}</a>&nbsp;
            {% if current_user.can(Permission.MODERATE) %}
            <span class="glyphicon glyphicon-refresh problem-refresh"
                  id="{{ problem.oj_name }}-{{ problem.problem_id }}"></span>
            {% endif %}
        </td>
        <td>0</td>
        <td>{{ moment(problem.last_update).format('L') }}</td>
        {% if current_user.can(Permission.MODERATE) %}
        <th>
            <button type="button" class="btn btn-default">
                <a style="color: black"
                   href="{{ url_for('.edit_problem',oj_name=problem.oj_name,problem_id=problem.problem_id) }}">Edit</a>
            </button>
        </th>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    {% if oj %}
    {{ macros.pagination_widget(pagination, endpoint,oj=oj) }}
    {% else %}
    {{ macros.pagination_widget(pagination, endpoint) }}
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
    $(document).ready(function () {
        $(".problem-refresh").click(function () {
            var prob = $(this).attr('id').split('-');
            var url = 'refresh-problem/' + prob[0] + '/' + prob[1];
            $.post(url);
        });
    });
</script>
{% endblock %}