{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}VJudge - Status{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Status</h1>
</div>
<form action="" method="get">
    <div class="row ">
        <label class="col-md-2 col-sm-3 col-xs-5">
            <select id="{{ oj }}" class="selectpicker form-control" name="oj" data-live-search="true"
                    style="width: 100%">
                <option value="all" data-tokens="all">ALL</option>
                <option value="scu" data-tokens="scu">SCU</option>
                <option value="hdu" data-tokens="hdu">HDU</option>
            </select>
        </label>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="input-group">
                <input name="query" value="" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default" type="button">Go</button>
                </span>
            </div>
        </div>
    </div>
</form>
<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>User</th>
        <th>OJ</th>
        <th>Problem</th>
        <th>Lang</th>
        <th>Verdict</th>
        <th>Time</th>
        <th>Memory</th>
        <th>Submit time</th>
    </tr>
    </thead>
    {% for submission in submissions %}
    <tr>
        <td>{{ submission.data.id }}</td>
        <td><a href="{{ url_for('.user', username = submission.username) }}">
            <img class="img-rounded" src="{{ url_for('static', filename='avatar/middle.png') }}">
            {{ submission.username }}
        </a></td>
        <td>{{ submission.data.oj_name.upper() }}</td>
        <td>
            <a href="{{ url_for('.problem',oj_name=submission.data.oj_name,problem_id=submission.data.problem_id) }}">{{
                submission.data.problem_id }}</a>
        </td>
        <td>{{ submission.data.language }}</td>
        <td class="{{ submission.data.verdict.replace(' ','-').lower() }} verdict">{{ submission.data.verdict }}</td>
        <td>{{ submission.data.exe_time }}</td>
        <td>{{ submission.data.exe_mem }}</td>
        <td>{{ moment(submission.data.time_stamp).format('YYYY-MM-DD HH:mm:ss') }}</td>
    </tr>
    {% endfor %}
</table>
<div class="pagination">
    {% if oj %}
    {{ macros.pagination_widget(pagination, endpoint,oj=oj) }}
    {% else %}
    {{ macros.pagination_widget(pagination, endpoint) }}
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script>
    s = $("select");
    s.val(s.attr('id'));
</script>
{% endblock %}